body {
    font-family: Arial, sans-serif;
    background-color: #ffcccc; 
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    background-color: #ee6dd5; 
    color: white;
    padding: 15px 20px;
    border: 50%;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px;
    
}

button:hover {
    background-color: #ae2b7e;
}

#catContainer {
    margin-top: 50px;
}

#catImage {
    width: 200px;
    height: auto;
}