body {
    font-family: Arial, sans-serif;
    background-color: #ffcccc; 
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    background-color: #da87ca; 
    color: white;
    padding: 15px 20px;
    border: 50%;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    width: 100px; 
    height: 40px;
    
}

button:hover {
    background-color: #ae2b7e;
}
#noButton {
    position: absolute; /* Добавляем позиционирование */
}


#catImage {
    width: 250px; 
    height: 250px; 
    background-color: #ee6dd5; 
    border-radius: 50%; 
}

    
